#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nl-wallet-button::part(button) {
  border-radius: 6px;
  padding: 12px 20px;
  margin: 4px;
}

nl-wallet-button::part(button-span) {
  font-weight: bold;
}
